Source: tangods-liberabrilliancegdx
Standards-Version: 3.0.0
Section: utils
Maintainer: MAXIV Laboratory <kits@maxlab.lu.se>, Cosylab d.o.o. <info@cosylab.com>
Homepage: https://github.com/MaxIV-KitsControls/LiberaBrillianceGdx
Vcs-Git: https://github.com/MaxIV-KitsControls/LiberaBrillianceGdx.git
Vcs-Browser: https://github.com/MaxIV-KitsControls/LiberaBrillianceGdx
Priority: optional
Build-Depends: debhelper (>= 7.0.0),
               libtango-dev,
               libera-base3.2-dev,
               libera-mci3.2-dev,
               libliberatango-dev (>= 3.1.0)
 
Package: tangods-liberabrilliancegdx
Architecture: i386
Depends: libtango9, libera-base3.2, libera-mci3.2, libliberatango (>= 3.1.0)
Description: Tango Device Server for Libera Brilliance Gdx Module