Source: tangods-liberabrilliancegdx
Standards-Version: 1.0.0
Section: utils
Maintainer: MAXIV Laboratory <kits@maxlab.lu.se>, Cosylab d.o.o. <info@cosylab.com>
Homepage: https://github.com/MaxIV-KitsControls/LiberaBrillianceGdx
Vcs-Git: https://github.com/MaxIV-KitsControls/LiberaBrillianceGdx.git
Vcs-Browser: https://github.com/MaxIV-KitsControls/LiberaBrillianceGdx
Priority: optional
Build-Depends: debhelper (>= 7.0.0),
               libtango8-dev,
               libera-base2.9-dev,
               libera-mci2.9-dev,
               libliberatango-dev (>= 2.1.0)
 
Package: tangods-liberabrilliancegdx
Architecture: i386
Depends: libtango8, libera-base2.9, libera-mci2.9, libliberatango
Description: Tango Device Server for Libera Brilliance Gdx Module